<%= form_with model: @activity do |f| %>
  <div>
    <%= f.label :time %>
    <%= f.time_field :time, value: @activity.time.strftime("%H:%M") %>
  </div>

  <div>
    <%= f.label :symbol %>
    <%= f.text_field :symbol %>
  </div>

  <div>
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <%= f.submit %>
<% end %>
