<%= link_to 'Add activity', new_activity_path %>

<ul>
  <% @activities.each do |activity| %>
    <li data-activity-id="<%= activity.id %>">
      <%= activity.time.strftime('%H:%M') %>
      <%= activity.symbol %>
      <%= activity.note %>

      <%= link_to '✏️', edit_activity_path(activity) %>
    </li>
  <% end %>
</ul>
