<%= link_to 'Add activity', new_activity_path %>

<ul>
  <% @activities.each do |activity| %>
    <li data-activity-id="<%= activity.id %>">
      <%= activity.time.strftime('%H:%M') %>
      <%= activity.symbol %>
      <%= activity.note %>

      <%= link_to 'âœï¸', edit_activity_path(activity) %>
      <%= link_to 'ðŸ—‘ï¸', activity_path(activity), method: :delete, data: { confirm: "Delete activity - #{activity.time.strftime('%H:%M')} #{activity.symbol}?" } %>
    </li>
  <% end %>
</ul>
